
div .my-recipes {
    margin: auto;
    padding: 100px 10px;
    display: inline-flex;
}

.card { 
    width: 350px ;
    height: 400px;
    margin: 0px;
   
}
img.card-img-top {
    width: 285px;
    height: 200px;
}

h5 {
    color:  rgb(212, 57, 91);
}
div .card-body {
    width: 300px;
    height: 200px;
}

div .no-recipes {
    margin: auto;
    padding: 100px 0px;
    width: 500px;
}