.container {
    padding: 100px 0px;
    width: 100%; 
    margin: 0;

}

div .recipe {
    margin: auto;
     padding: auto;
     width: 500px;
  
 }
 h2 {
    text-align: center;  
    color:  rgb(212, 57, 91);
}
h6 {
    font-style: italic;
}

img {
    width: 350px;
    height: 250px;
}

div .recipe-products {
    display: inline-block;
}


.like {
    background: blue;
    color: white;
    border: none;
    border-radius: 2px;
  
}