<header>
    <section>Desserts</section>
    <section>
        <ul *ngIf="!isLogged">
            <li>
                <a routerLink="/login">Login</a>
            </li>
            <li>
                <a routerLink="/register">Register</a>
            </li>
        </ul>
    </section>
    <nav>
        <ul *ngIf="isLogged">
            <li>
                <a routerLink="/home">Home</a>
            </li>
            <li>
                <a routerLink="/recipes">Recipes</a>
            </li>
            <li>
                <a routerLink="/recipes/create">Create Recipe</a>
            </li>
            <li (click)="logout()">Log out</li>
        </ul>
    </nav>
</header>