<header>
    <section>Desserts</section>
    <section>
        <ul>
            <li>
                <a routerLink="/login">Login</a>
            </li>
            <li>
                <a routerLink="/register">Register</a>
            </li>
        </ul>
    </section>
    <nav>
        <ul>
            <li>
                <a routerLink="/home">Home</a>
            </li>
            <li>
                <a routerLink="/recipes">Recipes</a>
            </li>
            <li>
                <a routerLink="/create">Create Recipe</a>
            </li>
            <li>
                <a routerLink="/logout">Log out</a>
            </li>
        </ul>
    </nav>



</header>