
header  {
    background: rgb(212, 57, 91);
    margin-top: 0;
    position: absolute;
    width: 100%;
 
}

header section  {
    margin: 10px;
    display: inline-block;
    color: white;
    font-size: 17px;
    padding-left: 30px;
    width: 700px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav {
    display: inline-block;
    border-right: 2px ;
    color: grey;
    padding: 0;
}
.nav-item {
    text-decoration: none;
    padding-right: 15px;

}

a {
    text-decoration: none;
    color: white;
    padding-right: 15px;
}
 a:hover {
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 105, 217);
    cursor: pointer;
}

