<div *ngIf="!recipes">Loading...</div>
<div class="container">
  <table class="recipe" *ngIf="recipes">
    <tr *ngFor="let recipe of recipes | slice: (page-1) * pageSize : page * pageSize">
      <div class="card">
        <img src={{recipe.imageUrl}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{recipe.title}}</h5>
          <p class="card-text">{{recipe.products}}</p>
          <a [routerLink]="['/recipes', recipe._id]" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </tr>
  </table>
</div>

<ngb-pagination *ngIf="recipes" [(page)]="page" [pageSize]="pageSize" [collectionSize]="recipes.length">
</ngb-pagination>