<div class="container">
  <div class="recipe-title" *ngIf="recipes">
    <div *ngFor="let recipe of recipes" class="recipe-container">
      <div class="recipe-name-wrapper" [routerLink]="['/recipes', recipe._id]">
        <div class="recipe-name">
          <a class="normal">
            <h2>{{recipe.title}}</h2>
          </a>
          <div class="columns">
            <div>
              <div class="imageUrl">
                <img src={{recipe.imageUrl}}>
              </div>
              <div class="author-name">
                <p>Ingredients: <span>{{recipe.products}}</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!recipes">Loading...</div>
</div>