<div class="container">
<form form [formGroup]="form" class="login" action="" method="post" (ngSubmit)="login()">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="marie.rose@gmail.com" formControlName="email">
    <ng-container *ngIf="form.get('email')?.touched">
      <p *ngIf="form.get('email')?.errors?.required" class="error">
        Email is required!
      </p>
      <p *ngIf="form.get('email')?.errors?.invalidEmail" class="error">
        Email is invalid!
      </p>
    </ng-container>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="*****"  formControlName="password">
    <ng-container *ngIf="form.get('password')?.touched">
      <p *ngIf="form.get('password')?.errors?.required" class="error">
        Password is required!
      </p>
      <p *ngIf="form.get('password')?.errors?.minlength" class="error">
        Password should be at least 5 symbols!
      </p>
        </ng-container>
  </div>
  <button type="submit" class="btn btn-primary">Log in</button>
  <div>
    <small> Do you have an account? <a routerLink="/register">Register</a></small>
  </div>
</form>
</div>