<form>
    <form [formGroup]="form" class="login" action="" method="post" (ngSubmit)="login()">
        <h2>Login Form</h2>
<p class="">
    <label for="email"><span><i class="email"></i></span></label>
    <input type="email" name="email" id="email" placeholder="mary.rose@gmail.com" formControlName="email">
  </p>
  <ng-container *ngIf="form.get('email')?.touched">
    <p *ngIf="form.get('email')?.errors?.required" class="error">
      Email is required!
    </p>
    <p *ngIf="form.get('email')?.errors?.invalidEmail" class="error">
      Email is invalid!
    </p>

  </ng-container>

  <p class="">
    <label for="password"><span><i class="password"></i></span></label>
    <input type="password" name="password" id="password" placeholder="******"  formControlName="password">
  </p>
  <ng-container *ngIf="form.get('password')?.touched">
<p *ngIf="form.get('password')?.errors?.required" class="error">
  Password is required!
</p>
<p *ngIf="form.get('password')?.errors?.minlength" class="error">
  Password should be at least 5 symbols!
</p>
  </ng-container>

  <button>Log in</button>

  <p class="text-center">
    Do you have an account?
    <a routerLink="/register">Register</a>
  </p>
  </form>